<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avengers.waffle.mapper.DetailMapper">

    <select id="getVote" resultType="avengers.waffle.VO.movieDetail.VoteVO">
        select averagerating,numVotes
        from ratings
        where tconst=#{id}
    </select>

    <select id="postLoad" resultType="avengers.waffle.VO.movieDetail.PostResultVO">
        SELECT NO, title, contents
        FROM (
            SELECT NO, title, contents, MATCH(title, contents) AGAINST(#{title} IN BOOLEAN MODE) AS score
            FROM post
            WHERE MATCH(title, contents) AGAINST(#{title} IN BOOLEAN MODE) AND category='md'
            ORDER BY score DESC
            LIMIT 20
            ) AS subquery
        ORDER BY RAND()
            LIMIT 3;
    </select>

    <insert id="addKcm">
        INSERT INTO keyword_count_movie (member_id, keywords_id, keyword_count,wish_keyword_count,view_keyword_count)
        SELECT
        #{memberId} AS member_id,
        mk.keywords_id,
        1,
        <choose>
            <when test="recommendType == 1">
                1,
                0
            </when>
            <when test="recommendType == 2">
                0,
                1
            </when>
        </choose>
        FROM movie_keywords mk
        WHERE mk.movies_id = #{id}
        ON DUPLICATE KEY UPDATE
        keyword_count = keyword_count + 1
        <choose>
            <when test="recommendType == 1">
                ,wish_keyword_count = wish_keyword_count + 1
            </when>
            <when test="recommendType == 2">
                ,view_keyword_count = view_keyword_count + 1
            </when>
        </choose>
    </insert>

    <insert id="addKct">
        INSERT INTO keyword_count_tv (member_id, keywords_id, keyword_count,wish_keyword_count,view_keyword_count)
        SELECT
        #{memberId} AS member_id,
        mk.keywords_id,
        1,
        <choose>
            <when test="recommendType == 1">
                1,
                0
            </when>
            <when test="recommendType == 2">
                0,
                1
            </when>
        </choose>
        FROM tvshow_keywords mk
        WHERE mk.tv_show_id = #{id}
        ON DUPLICATE KEY UPDATE
        keyword_count = keyword_count + 1
        <choose>
            <when test="recommendType == 1">
                ,wish_keyword_count = wish_keyword_count + 1
            </when>
            <when test="recommendType == 2">
                ,view_keyword_count = view_keyword_count + 1
            </when>
        </choose>
    </insert>

    <update id="updateKcm">
        UPDATE keyword_count_movie kcm
            JOIN movie_keywords mk ON kcm.keywords_id = mk.keywords_id
        SET
            kcm.keyword_count = kcm.keyword_count - 1
        WHERE kcm.member_id = #{memberId}
          AND mk.movies_id = #{id}
    </update>

    <update id="updateKct">
        UPDATE keyword_count_tv kcm
            JOIN tvshow_keywords mk ON kcm.keywords_id = mk.keywords_id
        SET
            kcm.keyword_count = kcm.keyword_count - 1
        WHERE kcm.member_id = #{memberId}
          AND mk.tv_show_id = #{id}
    </update>

    <delete id="deleteKcm">
        DELETE FROM keyword_count_movie
        WHERE member_id = #{memberId}
        AND keywords_id IN (
        SELECT keywords_id FROM movie_keywords WHERE movies_id = #{id}
        )
        AND keyword_count <![CDATA[<=]]> 0;
    </delete>

    <delete id="deleteKct">
        DELETE FROM keyword_count_tv
        WHERE member_id = #{memberId}
          AND keywords_id IN (
            SELECT keywords_id FROM tvshow_keywords WHERE tv_show_id = #{id}
        )
          AND keyword_count <![CDATA[<=]]> 0;
    </delete>
</mapper>