<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="avengers.waffle.mapper.MovieMapper">
    <!-- Icon -->
    <resultMap id="IconResult" type="avengers.waffle.entity.Icon">
        <id property="no" column="no" javaType="java.lang.Long"/>
        <result property="iconName" column="icon_name" javaType="java.lang.String"/>
    </resultMap>

    <!-- MemberSearchList -->
    <resultMap id="MemberSearchListResult" type="avengers.waffle.entity.MemberSearchList">
        <id property="no" column="no" javaType="java.lang.Long"/>
        <result property="memberId" column="member_id" javaType="java.lang.String"/>
        <result property="searchWord" column="search_word" javaType="java.lang.String"/>
        <result property="searchTime" column="search_time" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <!-- MemberViewList -->
    <resultMap id="MemberViewListResult" type="avengers.waffle.entity.MemberViewList">
        <id property="no" column="no" javaType="java.lang.Long"/>
        <result property="memberId" column="member_id" javaType="java.lang.String"/>
        <result property="viewTime" column="view_time" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <!-- MovieMember -->
    <resultMap id="MovieMemberResult" type="avengers.waffle.entity.MovieMember">
        <id property="memberId" column="member_id" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="email" column="email" javaType="java.lang.String"/>
        <result property="nickname" column="nickname" javaType="java.lang.String"/>
        <result property="regDate" column="reg_date" javaType="java.time.LocalDateTime"/>
        <result property="role" column="role" javaType="java.lang.String"/>
    </resultMap>

    <!-- MovieRecommend -->
    <resultMap id="MovieRecommendResult" type="avengers.waffle.entity.MovieRecommend">
        <id property="recommend_keyword" column="recommend_keyword" javaType="java.lang.Integer"/>
        <result property="id_list" column="id_list" javaType="java.util.List" jdbcType="VARCHAR"/>
        <result property="recommend_name" column="recommend_name" javaType="java.lang.String"/>
    </resultMap>

    <!-- MoviesPartitioned -->
    <resultMap id="MoviesPartitionedResult" type="avengers.waffle.entity.MoviesPartitioned">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="title" column="title" javaType="java.lang.String"/>
        <result property="voteAverage" column="vote_average" javaType="java.lang.Float"/>
        <result property="voteCount" column="vote_count" javaType="java.lang.Integer"/>
        <result property="status" column="status" javaType="java.lang.String"/>
        <result property="releaseDate" column="release_date" javaType="java.time.LocalDate"/>
        <result property="revenue" column="revenue" javaType="java.lang.Long"/>
        <result property="runtime" column="runtime" javaType="java.lang.Integer"/>
        <result property="adult" column="adult" javaType="java.lang.Boolean"/>
        <result property="backdropPath" column="backdrop_path" javaType="java.lang.String"/>
        <result property="budget" column="budget" javaType="java.lang.Long"/>
        <result property="homepage" column="homepage" javaType="java.lang.String"/>
        <result property="imdbId" column="imdb_id" javaType="java.lang.String"/>
        <result property="originalLanguage" column="original_language" javaType="java.lang.String"/>
        <result property="originalTitle" column="original_title" javaType="java.lang.String"/>
        <result property="overview" column="overview" javaType="java.lang.String"/>
        <result property="popularity" column="popularity" javaType="java.lang.Float"/>
        <result property="posterPath" column="poster_path" javaType="java.lang.String"/>
        <result property="tagline" column="tagline" javaType="java.lang.String"/>
        <result property="genres" column="genres" javaType="java.lang.String"/>
        <result property="productionCompanies" column="production_companies" javaType="java.lang.String"/>
        <result property="productionCountries" column="production_countries" javaType="java.lang.String"/>
        <result property="spokenLanguages" column="spoken_languages" javaType="java.lang.String"/>
        <result property="keywords" column="keywords" javaType="java.lang.String"/>
    </resultMap>

    <!-- MovieWish -->
    <resultMap id="MovieWishResult" type="avengers.waffle.entity.MovieWish">
        <id property="no" column="no" javaType="int"/>
        <association property="memberId" javaType="avengers.waffle.entity.MovieMember" column="member_id" select="selectMovieMemberById" fetchType="lazy"/>
    </resultMap>

    <!-- OTTCode -->
    <resultMap id="OTTCodeResult" type="avengers.waffle.entity.OTTCode">
        <id property="code" column="code" javaType="int"/>
        <result property="OTTName" column="OTT_name" javaType="java.lang.String"/>
    </resultMap>

    <!-- Post -->
    <resultMap id="PostResult" type="avengers.waffle.entity.Post">
        <id property="no" column="no" javaType="long"/>
        <result property="category" column="category" javaType="java.lang.String"/>
        <result property="title" column="title" javaType="java.lang.String"/>
        <result property="indate" column="indate" javaType="java.time.LocalDateTime"/>
        <result property="contents" column="contents" javaType="java.lang.String"/>
        <result property="count" column="count" javaType="int"/>
        <result property="likeCount" column="like_count" javaType="int"/>
        <association property="movieMember" javaType="avengers.waffle.entity.MovieMember" column="member_id" select="selectMovieMemberById" fetchType="lazy"/>
    </resultMap>

    <!-- PostAttach -->
    <resultMap id="PostAttachResult" type="avengers.waffle.entity.PostAttach">
        <id property="attachNo" column="attach_no" javaType="java.lang.Long"/>
        <result property="fileUrl" column="file_url" javaType="java.lang.String"/>
        <association property="post" javaType="avengers.waffle.entity.Post" column="no" select="selectPostByNo" fetchType="lazy"/>
    </resultMap>

    <!-- Ratings -->
    <resultMap id="RatingsResult" type="avengers.waffle.entity.Ratings">
        <id property="tconst" column="tconst" javaType="java.lang.String"/>
        <result property="averageRating" column="average_rating" javaType="java.lang.Float"/>
        <result property="numVotes" column="num_votes" javaType="java.lang.Integer"/>
    </resultMap>

    <!-- Reply -->
    <resultMap id="ReplyResult" type="avengers.waffle.entity.Reply">
        <id property="replyNum" column="reply_num" javaType="int"/>
        <result property="indate" column="indate" javaType="java.time.LocalDateTime"/>
        <result property="contents" column="contents" javaType="java.lang.String"/>
        <result property="likeCount" column="like_count" javaType="int"/>
        <association property="post" javaType="avengers.waffle.entity.Post" column="no" select="selectPostByNo" fetchType="lazy"/>
        <association property="movieMember" javaType="avengers.waffle.entity.MovieMember" column="member_id" select="selectMovieMemberById" fetchType="lazy"/>
    </resultMap>

    <!-- SearchList -->
    <resultMap id="SearchListResult" type="avengers.waffle.entity.SearchList">
        <result property="searchTime" column="search_time" javaType="java.time.LocalDateTime"/>
        <result property="resultList" column="result_list" javaType="java.util.List" jdbcType="VARCHAR"/>
        <association property="searchListPK" javaType="avengers.waffle.entity.SearchListPK">
            <result property="searchWord" column="search_word"/>
            <result property="page" column="page"/>
        </association>
    </resultMap>

    <!-- TitleAdult -->
    <resultMap id="TitleAdultResult" type="avengers.waffle.entity.TitleAdult">
        <id property="tconst" column="tconst" javaType="java.lang.String"/>
        <result property="isAdult" column="is_adult" javaType="java.lang.Boolean"/>
    </resultMap>



</mapper>
