<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avengers.waffle.mapper.MovieMapper">
    <select id="search" parameterType="avengers.waffle.VO.MovieSearch" resultType="avengers.waffle.VO.MovieSearchResultVO">
        select id,poster_path,imdb_id,overview,korean_title,title
        from movies partition (${years})
        WHERE
        <if test="korea">
            original_language='ko' and
        </if>
        <choose>
            <when test="korean">
                MATCH(korean_title) AGAINST(#{title} IN BOOLEAN MODE)
            </when>
            <otherwise>
                MATCH(title) AGAINST(#{title} IN BOOLEAN MODE)
            </otherwise>
        </choose>
            <if test="genres!=null and genres!=''">
                and MATCH(genres) AGAINST(#{genres} IN BOOLEAN MODE)
            </if>

        limit 20;
    </select>

</mapper>