<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="avengers.waffle.mapper.MovieMapper">
    <!--    <cache/>-->
    <select id="findMoviesByGenres" resultType="avengers.waffle.dto.mybatis.MoviesDTO">
        SELECT m.id, m.korean_title, m.poster_path ,m.backdrop_path,m.overview,r.averageRating,"movie"
        FROM ratings r
        STRAIGHT_JOIN (select id,korean_title,poster_path,genres,imdb_id, original_language ,backdrop_path,overview from
        movies) m
        on r.tconst = m.imdb_id
        STRAIGHT_JOIN titles_adult a ON r.tconst = a.tconst
        WHERE a.is_adult = 0
        AND r.averageRating > 5.0
        AND r.numVotes > 100

        <if test="genres != null and genres.size() > 0">
            AND (
            <foreach collection="genres" item="genre" separator=" OR ">
                m.genres LIKE concat('%',#{genre},'%')
            </foreach>
            )
        </if>
        <if test="isDomestic">
            AND m.original_language = 'ko'
        </if>
        <if test="!isDomestic">
            AND m.original_language != 'ko'
        </if>
        ORDER BY r.numVotes DESC, r.averageRating DESC
        LIMIT 20
    </select>


    <select id="searchComplexMovie" resultType="avengers.waffle.dto.mybatis.MoviesDTO">
        WITH genre_movies AS (
            SELECT DISTINCT mg.movies_id
            FROM movie_genres mg
            JOIN movie_genres_list mgl
                ON mgl.genres_id = mg.genres_id
            <if test="selectedGenres != null and !selectedGenres.isEmpty()">
                WHERE mgl.genres IN
                <foreach item="genre" collection="selectedGenres" open="(" separator="," close=")">
                    #{genre}
                </foreach>
            </if>
        ),
        filtered_movies AS (
            SELECT m.id, m.imdb_id, m.korean_title, m.poster_path, m.backdrop_path, m.overview
            FROM genre_movies gm
            JOIN movies m
                ON m.id = gm.movies_id
            JOIN titles_adult ta
                ON ta.tconst = m.imdb_id
            WHERE m.release_date >= STR_TO_DATE(CONCAT(#{releaseYear[0]}, '-01-01'), '%Y-%m-%d')
              AND m.release_date <![CDATA[<]]> DATE_ADD(STR_TO_DATE(CONCAT(#{releaseYear[1]}, '-01-01'), '%Y-%m-%d'), INTERVAL 1 YEAR)
            <if test="adult != null">
                <choose>
                    <when test="adult">
                        AND ta.is_adult = 1
                    </when>
                    <otherwise>
                        AND ta.is_adult = 0
                    </otherwise>
                </choose>
            </if>
            <if test="isDomestic != null">
                <choose>
                    <when test="isDomestic">
                        AND m.original_language = 'ko'
                    </when>
                    <otherwise>
                        AND m.original_language != 'ko'
                    </otherwise>
                </choose>
            </if>
        )
        SELECT fm.id, fm.korean_title, fm.poster_path, fm.backdrop_path, fm.overview, r.averageRating, "movie"
        FROM filtered_movies fm
        JOIN ratings r
            ON r.tconst = fm.imdb_id
        WHERE r.averageRating BETWEEN #{rating[0]} AND #{rating[1]}
        ORDER BY r.numVotes DESC, r.averageRating DESC
        LIMIT 20
    </select>

    <!-- a,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,a -->

    <sql id="keywordLimit">
        5
    </sql>
    <sql id="numIncludeKeywords">
        1
    </sql>
    <sql id="recommendCandidateLimit">
        500
    </sql>
    <!--?뚯썝???좏샇 ?ㅼ썙??議고쉶(留덉씠?섏씠吏?먯꽌 ?ъ슜?좊벏-->
    <select id="getMemberTopKeywords" resultType="Map">
        WITH individual_member_keywords AS (
        select mk.keywords_id
        from movie_wishlist mw
        join movie_keywords mk on mw.movies_id = mk.movies_id
        where mw.member_id = #{memberId}   <!--?좎? id-->
        UNION ALL
        select mk.keywords_id
        from movie_viewlist mv
        join movie_keywords mk on mv.movies_id = mk.movies_id
        where mv.member_id = #{memberId}
        ),
        ranked_member_keywords AS (
        select keywords_id,
        count(*) AS cnt,
        DENSE_RANK() over (order by count(*) desc) AS drnk <!--?곗냽???깆닔媛??5?깆씠 10媛쒕㈃ 10媛쒖쟾遺 -->
        from individual_member_keywords
        group by keywords_id
        )
        select rmk.keywords_id,
        mkl.keywords AS keywords_name
        from ranked_member_keywords rmk
        join movie_keywords_list mkl on rmk.keywords_id = mkl.keywords_id
        where rmk.drnk <![CDATA[<=]]> 5

        order by rmk.cnt desc , mkl.keywords asc;
    </select>


    <select id="getMovieCandidates" resultType="avengers.waffle.dto.mybatis.UserRecommendMovieResultDTO">
        <!--1.?ъ슜???좏샇 ?ㅼ썙??異붿텧?섍린-->
        WITH
        -- 1. ?ъ슜???좏샇 ?ㅼ썙?쒖뿉 ??궧??留ㅺ린??CTE
        ranked_user_keywords AS (
        SELECT
        kcm.keywords_id,
        DENSE_RANK() OVER(ORDER BY kcm.keyword_count DESC) AS drnk
        FROM keyword_count_movie kcm
        WHERE kcm.member_id = #{userId}
        ),
        member_top_keywords AS(
        select keywords_id
        from ranked_user_keywords
        where drnk <![CDATA[<=]]> <include refid="keywordLimit" />
        ),

        pre_filtered_movies as(
        select m.id, m.korean_title, m.poster_path, m.backdrop_path, m.overview , m.imdb_id
        FROM movies m
        join titles_adult ta On m.imdb_id = ta.tconst
        <where>
            1=1
            <if test="adult != null">
                <choose>
                    <when test="adult == true"> and ta.is_adult = 1
                    </when>
                    <otherwise> and ta.is_adult = 0
                    </otherwise>
                </choose>
            </if>

            <if test="isDomestic != null"> <choose>
                <when test="isDomestic == true"> and m.original_language = 'ko'
                </when>
                <otherwise> and m.original_language != 'ko'
                </otherwise>
            </choose>
            </if>
            <if test="selectedGenres != null and !selectedGenres.isEmpty()">
                and m.id in(
                select distinct mg.movies_id
                from movie_genres mg
                join movie_genres_list mgl on mg.genres_id = mgl.genres_id
                where mgl.genres IN(
                <foreach collection="selectedGenres" item="genre"  separator=",">
                    #{genre}
                </foreach>
                )
                )
            </if>
        </where>
        ),
        <!--3.?대? 遊ㅺ굅??李쒗븿 ?곹솕??異뷀썑?쒓굅???-->
        watched_movies AS(
        select movies_id as watchedMovieId
        from movie_viewlist
        where member_id = #{userId}
        ),
        <!--4.1李⑦븘?곕맂 ?곹솕? ?ъ슜???곸쐞 ?ㅼ썙??留ㅼ묶 -->
        movies_with_keywords_match as(
        select
        pmf.id as movie_id,
        count(distinct mk_all.keywords_id) as match_count
        from pre_filtered_movies pmf
        join movie_keywords mk_all on pmf.id = mk_all.movies_id
        join member_top_keywords mtk on mk_all.keywords_id = mtk.keywords_id
        group by pmf.id
        Having Count(DISTINCT mk_all.keywords_id) <![CDATA[>=]]>  <include refid="numIncludeKeywords" />
        )
        SELECT
        m.id AS movieId,
        m.korean_title AS koreanTitle,
        m.poster_path AS posterPath,
        m.backdrop_path AS backdropPath,
        m.overview AS overview,
        r.averageRating AS averageRating,
        mwkm.match_count AS keywordsRanking,
        GROUP_CONCAT(mkl.keywords SEPARATOR ',') AS keywordsRaw
        FROM movies_with_keywords_match mwkm
        JOIN pre_filtered_movies m ON mwkm.movie_id = m.id
        JOIN ratings r ON r.tconst = m.imdb_id
        JOIN movie_keywords mk_join ON m.id = mk_join.movies_id
        JOIN movie_keywords_list mkl ON mk_join.keywords_id = mkl.keywords_id
        WHERE m.id NOT IN (SELECT 1 watchedMovieId FROM watched_movies) -- movies_idC -> movies_id濡??섏젙 (CTE ?대쫫怨??쇱튂)

        AND m.poster_path IS NOT NULL AND m.poster_path != ''
        AND m.overview IS NOT NULL AND m.overview != ''
        GROUP BY
        m.id
        ORDER BY
        keywordsRanking DESC,
        r.numVotes DESC,
        r.averageRating DESC
        LIMIT <include refid="recommendCandidateLimit"/>;

    </select>


</mapper>




